.login{
    
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);

    background-color: rgba(114, 114, 114, 0.333);

}
.btnGIT{
    display: grid;
    grid-column-start: 27;
    grid-column-end: 29;

    grid-row-start: 3;
    grid-row-end: 3;

    text-align: center;
    align-content: center;

    font-weight: 500;

    background-color: rgb(19, 19, 19);
    color: white;

    cursor: pointer;
    border-radius: 5rem;
    border: 1px solid black ;
    box-shadow: 0px 0px 5px 2px rgb(109, 108, 108);


}
.btnGIT:hover{
    transition: 1s;
    box-shadow: 0px 0px 5px 3px rgb(215, 214, 214);
    
    background-color: rgb(135, 133, 133);
}
.ventana{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-start: 5;
    grid-column-end: 27;
    grid-row-start: 6;
    grid-row-end: 25;

    border-radius: 5rem;
    box-shadow: 0px 0px 10px 1px;
    background-color: white;
}
.log{
    display: grid;
    grid-column-start: 8;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 16;

    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows:repeat(15, 1fr) ;
    border-left: 1px solid black;   

}
.hola{
    display: grid;
    grid-column-start:3;
    grid-column-end:3;
    grid-row-end:3;
    grid-row-end:3;

    font-style: oblique;

}
.bienvenido{
    width: auto;
    display: grid;
    grid-column-start:3;
    grid-column-end:9;
    grid-row-start:3;
    grid-row-end:3;

    font-style: oblique;

}

.titulo{
    display: grid;
    grid-column-start:7 ;
    grid-column-end:10;
    grid-row-start:5;

    font-style: oblique;
    text-decoration: underline black;
}
.entrada_de_texto_1{
    display: grid;
    grid-column-start:5 ;
    grid-column-end:12;
    grid-row-start: 9;

    font-style: oblique;
    border: none;
    border-bottom: 2px solid black;
}
.entrada_de_texto_2{
    display: grid;
    grid-column-start:5 ;
    grid-column-end:12;
    grid-row-start: 7;

    font-style: oblique;
    border: none;
    border-bottom: 2px solid black;


}

.iniciar{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 12;

    text-align: center;
    align-content: center;
    font-style: oblique;
    
    border-radius: 5rem;
    border: none;
    box-shadow: 0px 0px 5px 1px black;
    background-color: white;

    cursor: pointer;

}
.iniciar:hover{
    background-color: rgba(176, 174, 174, 0.505);
    transition: 1s;

}

.beta:hover{
    transition: 1s;
    background-color: rgba(176, 174, 174, 0.505);
}
.beta button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-style: oblique;
}


.beta{
    display: grid;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 12;

    text-align: center;
    align-content: center;
    font-style: oblique;
    text-decoration: none;


    border-radius: 5rem;
    box-shadow: 0px 0px 5px 1px black;
    border: none;

    cursor: pointer;

    
}

.crear{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 14;

    font-style: oblique;
    font-size: 1rem;
    cursor: pointer;

    
}
.crear:hover{
    transition: 1s;
    color: red;
    text-decoration: underline red;
}
.img{
    width: 100%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 7 ;
    grid-row-start: 8;
}